{% extends 'base.html.twig' %}

{% block body %}
    <h1>Všechno nejlepší!</h1>

    <div class="london">
        <img src="./Resources/static/images/londyn.png" alt="">
    </div>

    <div class="why-we standalone">
        <h2>{{ why_we.title }}</h2>

        <div class="list">
        <ol>
            {% for item in why_we.items %}
                <li>{{ item | raw }}</li>
            {% endfor %}
        </ol>
        </div>

        <h3>{{ why_we.footer | raw }}</h3>
    </div>
{% endblock %}
